.row{
    clear: both;
}
.container{
    margin: 0px auto;
}
@media screen and (max-width: 1023px){
    .mnone{
        display: none;
    }
    .mgrid1,.mgrid2,.mgrid3,.mgrid4,.mgrid5,.mgrid6,.mgrid7,.mgrid8,.mgrid9,.mgrid10,.mgrid11,.mgrid12{
        float:left;
    }
    .mgrid1{
        width: 8.33%;
    }
    .mgrid2{
        width: 16.66%;
    }
    .mgrid3{
        width: 25%;
    }
    .mgrid4{
        width: 33.33%;
    }
    .mgrid5{
        width: 41.66%;
    }
    .mgrid6{
        width: 50%;
    }
    .mgrid7{
        width: 58.33%;
    }
    .mgrid8{
        width: 66.66%;
    }
    .mgrid9{
        width: 75%;
    }
    .mgrid10{
        width: 83.33%;
    }
    .mgrid11{
        width: 91.66%;
    }
    .mgrid12{
        width: 100%;
    }
    
}